<form class="partial_question">
	<p><h3><%= question %></h3></p>
	<p>
	
	<ul id="multiple_choice_list">
		<li>
			<input type="text" size="40" name="answer" placeholder="Type an answer choice">
			<input type="checkbox">
			<button id="remove_answer_button">-</button>
			<button id="add_answer_button">+</button>
		</li>
	</ul>
	</p>

	<p><button id="delete_question_button">Delete</button></p>
</form>