<div class="partial_question">
	<p><h3><%= question %></h3></p>
	<p><input type="text" size="40" name="answer" placeholder="User answer would go here..."></p>
	<p><button id="delete_question_button">Delete</button></p>
</div>