<form class="partial_question">
	<p><h3><%= question %></h3></p>
	<p>
  <input id="true" type="radio" name="rating" value="true">
	<label for="true">True </label>
  <input id="false" type="radio" name="rating" value="false">
  <label for="false">False </label>
	</p>
	<p><button class="delete_question_button">Delete</button></p>
</form>