<form class="partial_question">
	<p><h3><%= question %></h3></p>
	<p>
  <input id="yes" type="radio" name="rating" value="yes">
  <label for="yes"> Yes</label>
  <input id="no" type="radio" name="rating" value="no">
  <label for="no"> No</label>
	</p>
	<p><button class="delete_question_button">Delete</button></p>
</form>