<article>
  <h1>Create Your Survey!</h1>
  <p>When you are done added questions to your survey, click the create button below to generate your custom survey URL!</p>
</article>

<div id="question_area">
  <h4>Questions</h4>

  <form id="question_list">
    <!-- append new question here -->
  </form>

  <form id='new_question' action='/' method='post'>
    <h3>What question would you like to ask?</h3>
    <input type='text' name='question' placeholder='Question...'>
    <input type='submit' value='Create'>
  </form>

  <button id="new_question_button">New Question</button>
  <button id="create_survey_button">Finished! Create Survey</button>
</div>