<!-- display previously created surveys here -->
  <% @user.forms.each_with_index do |form, index| %>
    <a href="/forms/<%= form.id %>">Survey <%= form.index %></a>
  <% end %>

<!-- create new survey button -->
  <form action="/surveys/new" method="get">
    <input type="submit" value="Create New Survey"></p>
  </form>

