

<h1> WELCOME TO SURVEY GOPHER </h1>
<img src="survey_gopher.png" alt="mascot">

<!-- create new survey button -->
  <form action="/surveys/new" method="get">
    <input type="submit" value="Create New Survey"></p>
  </form>

<!-- display previously created surveys here -->
  <% @user.forms.each_with_index do |form, index| %>
    <p>
      <a id="<%= form.id %>" class="user_survey" href="/forms/<%= form.id %>">Survey <%= index + 1 %></a>
    </p>
  <% end %>
