<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/create_survey.js"></script>

  <title></title>
</head>
<body>
  <div id="wrap">
    <% if logged_in? %>

      <form action="/logout" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>

      <%= yield %>

    <% else %>

      <div id="login">
        <h2>LOGIN</h2>
        <form action="/login" method="post">
          <p><input type="text" name="username" placeholder="Username"></p>
          <p><input type="password" name="password" placeholder="Password"></p>
          <p><input type="submit" value="Login"></p>
        </form>
      </div>

      <div id="signup">
        <form action="/users" method="post">
          <p><input type="text" name="username" placeholder="Username"></p>
          <p><input type="password" name="password" placeholder="Password"></p>
          <p><input type="submit" value="Register"></p>
        </form>
      </div>
    <% end %>
  </div>
</body>
</html>
