#wrap {
  width: 60%;
  margin: auto;
  font-family: Lato;
  background-color: #C0C0C0;
  opacity: 0.5;
  padding: 30px;
  border-radius: 15px;
}

article {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  text-align: center;
  /*border: 1px dotted black;*/
  border-radius: 15px;
  padding: 10px;
  text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
}

#title_area {
  /*border: 1px dotted black;*/
  padding: 10px;
}

#instruction_area {
  /*border: 1px dotted black;*/
  padding: 10px;
}

#question_area {
  padding: 10px 0;
  /*border: 1px dotted black;*/
}

#question_area h4 {
  margin-top: 0;
}

#create_new_question_button {
  margin-top: 10px;
}

#question_list {
  margin: 20px 0px 20px 0px;
  /*margin: 5px 0px;*/
  display: block;
}

form#new_question_form {
  background-color: #777;
  padding: 15px;
  border: 1px solid #666;
  border-radius: 3px;
}

/*form#new_question_form textarea {
  width: 100%;
}*/

.partial_question {
  background-color: #ddd;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 5px 15px 5px 15px;
  margin-top: 6px;
  border-radius: 15px;
}
  
#hide, #remove_answer_button {
    display:none;
}

h3 {
  margin: 15px 0px 15px 0px;
  padding: 0px;
}

input[type="text"]{
    size: 65;
}

img {
  opacity: 1;
}

body{
  margin      : 0;
  padding     : 1.5em;
  font-family : sans-serif;
  line-height : 1.5;
}

p{
  margin  : 15px 0px 15px 0px;
  padding : 0px;
}

.starRating a{
  color           : #9c3;
  text-decoration : none;
}

.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}


.fistRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.fistRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.fistRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../1finger.svg');
  background-size : contain;
}

.fistRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../1finger-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.fistRating:not(old) > label:hover:before,
.fistRating:not(old) > label:hover ~ label:before,
.fistRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
